/* Copyright 2013 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

:root{
    --bg-color: #000;
}

.theme-color{
    --bg-color: #a3d5ff;
}

.theme-hacker{
    --bg-color: #000;
}

html, body{
  padding: 0;
  margin: 0;
  overflow: hidden;
  height: 100%;
}

.background{
    background-color: var(--bg-color);
}

.ground{
    display: none;
}

.theme-hacker .ground{
    display: none;
}

.theme-color .ground{
    display: block;
}

.icon{
  -webkit-user-select: none;
  user-select: none;
  display: inline-block;
}

.icon-offline{
  content: -webkit-image-set(
    url(assets/default_100_percent/100-error-offline.png) 1x,
    url(assets/default_200_percent/200-error-offline.png) 2x
  );
  position: relative;
}

.hidden{
  display: none;
}

.offline .interstitial-wrapper{
  font-size: 1em;
  line-height: 1.55;
  margin: 0;
  max-width: 600px;
  width: 100%;
  height: 100vh;
}

.offline .runner-container{
  position: absolute;
  top: 0;
  left: 0;
  height: 200px;
  overflow: hidden;
  transform-origin: top left;
}

.offline .runner-canvas{
  image-rendering: pixelated;
  image-rendering: crisp-edges;
  position: absolute;
  width: 600px;
  height: 200px;
  max-width: 600px;
  opacity: 1;
  overflow: hidden;
  z-index: 2;
}

.offline .controller{
  height: 100vh;
  left: 0;
  position: absolute;
  top: 0;
  width: 100vw;
  z-index: 1;
}

#offline-resources{
  display: none;
}